{# This is the base template that other templates will extend from. #}
{% extends 'base.html' %}

{# 1. Page Title (On the explorer tab) #}
{% block page_title %}
    {{ page_title }}
{% endblock %}

{# 8. Right Bar #}
{% block right_bar %}
    <div class="right-bar-container">
        {% block card_buttons_bar %}

            {% if request.user.is_authenticated %}
                <div class="card-buttons-bar-container">
                    {% include "includes/card_buttons_bar.html" %}
                </div>
            {% endif %}
        {% endblock %}

        {% block content_container %}
            <div class="content-container">
                {% include "includes/content_container.html" %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
