{% load static i18n %}

<div class="car-buttons-bar">
    <button class="car-buttons-bar-button" onclick="fShowHideCreateForm()">
        {{ card_button_1_name }}
    </button>

    <button class="car-buttons-bar-button" style="visibility: hidden;"></button>

    <div class="search-button-group">
        <input type="text" id="searchInput" class="car-buttons-bar-button" placeholder="{% trans 'Search...' %}" onkeypress="if(event.key === 'Enter') { event.preventDefault(); handleTableSearch(); }" />

        <button class="car-buttons-bar-button" onclick="handleTableSearch()">
            {{ card_button_2_name }}
        </button>
    </div>
</div>
