{% load static i18n %}

<section class="display-content-section">
    <div class="all-display-content-container">

        <div class="card-display">
            <h2 class="card-display-title">Some Title</h2>
            <p class="card-display-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Animi architecto aspernatur consequatur dolorem eos, eveniet
                explicabo iste maiores, neque provident ratione repudiandae
                saepe sunt tempore vel voluptate voluptatibus! Ipsam, laboriosam!
            </p>
        </div>

    </div>
</section>