{% load static i18n %}

<div class="content-container-wrapper">
{% if request.user.is_authenticated %}
    <div class="content-container-wrapper-top">
        <form method="POST" id="custom_form">
            {% csrf_token %}
            <table>
                {% for field in delete_db_form %}
                    <tr>
                        <td><b>{{ field.label_tag }}</b></td>
                        <td>{{ field }}</td>
                    </tr>
                {% endfor %}
            </table>
            <button type="submit" name="delete_db" class="btn btn-primary button-long">{% trans "Delete whole database" %}</button>
        </form>

        {#---#}

        <form method="POST" enctype="multipart/form-data" id="custom_form">
            {% csrf_token %}
            <table>
                {% for field in import_db_form %}
                    <tr>
                        <td><b>{{ field.label_tag }}</b></td>
                        <td>{{ field }}</td>
                    </tr>
                {% endfor %}
            </table>
            <button type="submit" name="import_db" class="btn btn-primary button-long">{% trans "Import from .xlsx" %}</button>
        </form>

        {#---#}

        <form method="POST" id="custom_form">
            {% csrf_token %}
            <table>
                {% for field in export_db_form %}
                    <tr>
                        <td><b>{{ field.label_tag }}</b></td>
                        <td>{{ field }}</td>
                    </tr>
                {% endfor %}
            </table>
            <button type="submit" name="export_db" class="btn btn-primary button-long">{% trans "Export to .xlsx" %}</button>
        </form>
    </div>

    {% if message %}
        {{ message }}
    {% endif %}

    <div class="content-container-wrapper-bottom">
        {% if data_for_content_container_wrapper_bottom %}
        {% else %}
        {% endif %}
        </div>
    </div>
{% endif %}
</div>
