{% load static i18n %}

<ul class="menu-list" role="list">
    <button class="menu-item" onclick="location.href='{% url 'index' %}';">
        <i class="fa-solid fa-handshake-angle"></i>
        <span class="menu-item-title">
                        Клиенти
                    </span>
    </button>

    <button class="menu-item" onclick="location.href='{% url 'index' %}';">
        <i class="fa-brands fa-audible"></i>
        <span class="menu-item-title">
                        Одити
                    </span>
    </button>

    <button class="menu-item" onclick="location.href='{% url 'index' %}';">
        <i class="fa-solid fa-glasses"></i>
        <span class="menu-item-title">
                        Одитори
                    </span>
    </button>

    <button class="menu-item" onclick="location.href='{% url 'index' %}';">
        <i class="fa-solid fa-book"></i>
        <span class="menu-item-title">
                        Документи
                    </span>
    </button>

    <button class="menu-item" onclick="location.href='{% url 'index' %}';">
        <i class="fa-regular fa-calendar-days"></i>
        <span class="menu-item-title">
                        График
                    </span>
    </button>
    <hr class="horizontal">

    Полезна информация

    <div id="calendar"></div>
</ul>
