{% load static i18n %}

<div class="left-menu-bar">
    <button class="left-menu-bar-button" onclick="location.href='{% url 'index' %}';">
        <i class="fa-solid fa-handshake-angle left-menu-bar-button-icon"></i>
        <span class="left-menu-bar-button-text">{% trans "Customers" %}</span>
    </button>

    <button class="left-menu-bar-button" onclick="location.href='{% url 'index' %}';">
        <i class="fa-brands fa-audible left-menu-bar-button-icon"></i>
        <span class="left-menu-bar-button-text">{% trans "Audits" %}</span>
    </button>

    <button class="left-menu-bar-button" onclick="location.href='{% url 'index' %}';">
        <i class="fa-solid fa-glasses left-menu-bar-button-icon"></i>
        <span class="left-menu-bar-button-text">{% trans "Auditors" %}</span>
    </button>

    <button class="left-menu-bar-button" onclick="location.href='{% url 'index' %}';">
        <i class="fa-solid fa-book left-menu-bar-button-icon"></i>
        <span class="left-menu-bar-button-text">{% trans "Documents" %}</span>
    </button>

    <button class="left-menu-bar-button" onclick="location.href='{% url 'celery-example-view' %}';">
        <i class="fa-solid fa-group-arrows-rotate"></i>
        <span class="left-menu-bar-button-text">{% trans "Async example" %}</span>
    </button>
</div>
