{% load static i18n %}

<nav class="navigation">
    <ul class="navigation-list" role="list">
        <li class="navigation-list-item">
            <a class="navigation-list-item-link" href="{% url 'index' %}">
                <i class="fas fa-home navigation-list-item-icon"></i>
            </a>
        </li>

        <li class="navigation-list-item">
            <a class="navigation-list-item-link" href="{% url 'index' %}">
                <i class="fas fa-users navigation-list-item-icon"></i>
            </a>
        </li>

        <li class="navigation-list-item">
            <a class="navigation-list-item-link" href="{% url 'index' %}">
                <i class="fas fa-file-alt navigation-list-item-icon"></i>
            </a>
        </li>

        {% if request.user.is_authenticated %}
            <li class="navigation-list-item">
                <a class="navigation-list-item-link" href="{% url 'logout' %}">
                    <i class="fa-solid fa-door-open"></i>
                </a>
            </li>
        {% else %}
            <li class="navigation-list-item">
                <a class="navigation-list-item-link" href="{% url 'signup' %}">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>